div
    div.main#main
        div.header #{location} Native Special
        div.origin
            each prod in product_name
                div.product
                    div
                        img(src='https://www.nativebag.in/images/product_image/frontpage/'+prod.product_image alt=prod.product_name)
                    p.name#name #{prod.product_name}
                    p#attribute #{prod.sub_attribute_name} #{prod.Measurement}
                    p.price#price #{prod.mrp_value}
                    p.location #{prod.place_of_origin}
                    if (cart_items.indexOf(prod.Product_Id) !== -1)
                        button.send(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width:100%" request-type = "remove" button-id = prod.Product_Id, sid=sid) Remove from Cart
                    else
                        button.send(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width:100%" request-type = "add" button-id = prod.Product_Id, sid=sid) Add to Cart
        div.cart_div
            button.cart#cart(onclick= "ab();window.open('http://test.nativebag.in/cart/cart-details?sid="+sid+"', '_blank')") #{item_count} items - Rs.#{amount}
if (cart_products != null)
    div.summary.main#summary
        div
            h2 Cart Summary
        each item in cart_products
            div.quant
                p #{item.product_name}
                p #{item.price}
                button.cart_add +
                input.quantity(type = 'number' min = '0' value=item.quantity)
                button.cart_subtract -
                p.save
